# Published image tag or channel
IMAGE_TAG=latest

DERPER_HOSTNAME=derp.example.com
DERPER_CERT_DIR=./certs
DERPER_BIND_IP=0.0.0.0

TS_HOSTNAME=private-derper-auth
TS_AUTHKEY_FILE=./secrets/tailscale-authkey
